* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
}

.nav {
  position: sticky;
  top: 0px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  background-color: rgba(209, 209, 209, 0.2);
}

.nav-logo {
  width: 4rem;
}
.nav-logo img {
  width: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 10px;
}
.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-social {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
}
.nav-social a {
  color: black;
}
.nav-social figure {
  margin-left: 20px;
}

.header-home {
  background-image: url("../assets/img/fondo-pantalla.jpg");
  background-size: cover;
  padding-bottom: 5rem;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  text-align: center;
}

.carousel-title {
  margin-top: 5rem;
}

.carousel-cards {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}

.carousel-cards-items {
  background-color: #faebd7;
  width: 30rem;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
}
.carousel-cards-items img {
  width: 100%;
  border-radius: 8px;
}

.category {
  padding: 2rem;
}

.button-category {
  cursor: pointer;
  color: white;
  border-radius: 7px;
  border: none;
  background-color: #5100ff;
  margin-left: 3rem;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 15px;
}

.button-category:hover {
  background-color: #002121;
}

.section-cards {
  text-align: center;
}
.section-cards h1 {
  padding: 5rem;
  font-family: sans-serif;
  color: #ac0202;
}
.section-cards .button-back {
  padding: 0.8rem 2rem;
  cursor: pointer;
  color: white;
  border-radius: 7px;
  border: none;
  background-color: #5100ff;
  margin-bottom: 2rem;
}

.card-list {
  display: grid;
  border-radius: 8px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(62, 159, 91, 0.8);
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.card {
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}
.card a {
  text-decoration: none;
  color: blue;
}
.card h3 {
  font-size: 2rem;
}
.card p {
  font-size: 1.2rem;
  color: green;
  padding: 1rem;
}
.card .add {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  background-color: #5cfe6f;
  border-color: #5cfe6f;
}

.card-image img {
  border-radius: 8px;
  width: 100%;
  height: 15rem;
}

.background {
  background-image: url(../assets/img/fondo-comidas.jpg);
  background-size: cover;
}

.card-cantidad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  display: block;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  height: 1.5rem;
  padding: 5px;
  background-color: rgba(0, 0, 255, 0.5098039216);
  border-color: rgba(0, 0, 255, 0.5098039216);
}

.item-image {
  width: 20rem;
  padding: 1rem;
}
.item-image img {
  width: 100%;
}

.item-card {
  display: flex;
}
.item-card button {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  background-color: #5cfe6f;
  border-color: #5cfe6f;
}

.item-text {
  width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.item-text p {
  font-size: 20px;
}

.footer {
  background-image: url("../assets/img/fondo-footer.jpg");
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  color: #f6e0a2;
}
.footer ul {
  list-style: none;
  font-size: 1.2rem;
}

.footer-social ul {
  display: flex;
  gap: 1rem;
}
.footer-social ul a {
  color: #f6a2ee;
}

.cierre {
  font-size: 15px;
}

/*# sourceMappingURL=styles.css.map */
